@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

    /*导航操作栏上移*/
    .fixed-x {
      // bottom: 44px !important;
      padding-bottom rem(44) !important
    }
    .fixed-xm {
      padding-bottom 14px !important
    }
    .iphone-xms {
      -webkit-overflow-scrolling: auto !important
    }

    .bottom-x {
      padding-bottom 44px !important
    }
    .footer-x{
      padding-bottom 25px !important
      background-color #fff
    }
    .main-x{
      bottom: 90px !important;
    }
    .fixed-x .content {
      background-size  center 76% !important;
    }

    .share .fixed-x {
      padding-bottom 100px !important
    }
    .share .fixed-x  {
      background-size  center 66% !important;
    }
    .slide2 h6 {
			padding-top: 5.133333rem !important; 
		}
		.slide3 h6{
			padding-top: 4.986667rem !important;
		}
		.slide4 h6{
			padding-top: 5.133333rem !important;
		}
		.slide5 .slide5-left{
			padding :5.533333rem 0 0 0.773333rem !important;
		}
		.slide5 .slide5-right{
			padding-top: 6.8rem !important;
		}
		.slide6 .slide6-left{
			padding: 6.533333rem 0 0 0.773333rem !important;
		}
		.slide7 .slide7-left{
			  padding: 6.333333rem 0 0 0.773333rem !important;
		}
		// .slide7 .slide7-max{
		// 	padding-top: 2.546667rem !important;
		// }
		
		.slide8 .slide8-left{
			padding: 6.533333rem 0 0 0.773333rem !important;
		}
		.slide9 h6{
			padding-top: 8rem !important;
		}
}
@media only screen and (min-height: 665px) and (max-height: 700px) and (-webkit-device-pixel-ratio: 3) {
	.slide7 .slide7-max{
			padding-top: 1.8rem !important;
	}
	.slide9 .slide9-content .slide9-one, .slide9 .slide9-content .slide9-two, .slide9 .slide9-content .slide9-three, .slide9 .slide9-content .slide9-four{
				padding-top 60px !important;	
		}
	.swiperOther,
	.swiperTwo,
	.swiperThree,
	.swiperFour,
	.swiperFive,
	.swiperSix,
	.swiperSeven,
	.swiperEigth{
			padding-top 0 !important
	}
	.slide7 .slide7-max{
			padding-top: 1.8rem !important;
	}
	.slide9 .slide9-content{
			padding-top 30px !important;	
	}
	.slide9 .slide9-content .slide9-one, .slide9 .slide9-content .slide9-two, .slide9 .slide9-content .slide9-three, .slide9 .slide9-content .slide9-four{
			padding-top 60px !important;	
	}
}
.swiperOther
	padding-top 1.9rem !important
.swiperTwo
	padding-top 30px !important
.swiperThree
	padding-top 0 !important
.swiperFour
	padding-top 200px !important
.swiperFive
	padding-top 300px !important
.swiperSix
	padding-top 135px !important
.swiperSeven
	padding-top 330px !important
.swiperEigth
	padding-top 500px !important
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

    /*导航操作栏上移*/
    .fixed-x {
      // bottom: 44px !important;
      padding-bottom rem(44) !important
    }
    .fixed-xm {
      padding-bottom 14px !important
    }
    .iphone-xms {
      -webkit-overflow-scrolling: auto !important
    }

    .bottom-x {
      padding-bottom 44px !important
    }
    .footer-x{
      padding-bottom 25px !important
      background-color #fff
    }
    .main-x{
      bottom: 90px !important;
    }
    .fixed-x .content {
      background-size  center 76% !important;
    }
    .share .fixed-x {
      padding-bottom 100px !important
    }
    .share .fixed-x  {
      background-size  center 66% !important;
    }
    .swiperOther,
		.swiperTwo,
		.swiperThree,
		.swiperFour,
		.swiperFive,
		.swiperSix,
		.swiperSeven,
		.swiperEigth{
				padding-top 0 !important
		}
		.slide7 .slide7-max{
				padding-top: 1.8rem !important;
		}
		.slide9 .slide9-content{
				padding-top 30px !important;	
		}
		.slide9 .slide9-content .slide9-one, .slide9 .slide9-content .slide9-two, .slide9 .slide9-content .slide9-three, .slide9 .slide9-content .slide9-four{
				padding-top 60px !important;	
		}
}
html, 
body, 
.swiper-container, 
.swiper-wrapper, 
.swiper-slide
  width 100%
  height 100%
  .report-title
    width 100% 
    height 50px
    position fixed
    padding 26px 21px
    background #fff
    z-index 1
    .title-left
      width 50px
      height 45px
      background url('./images/back.png')
      background-repeat no-repeat
      background-position center center
      background-size 50% 100%
      display inline-block
      margin-right 20px
    h6
      display inline-block
      padding-left 160px
      font-size 36px
      line-height 10px
      text-align center
      color #000
      padding-right 160px
      vertical-align 10px
    .title-right
      width 80px
      height 55px
      // background url("./images/share.png")
      background-position center center
      background-repeat no-repeat
      background-size 100% 100%
      display inline-block
			.title-test
				color red
	.slide1
    background url("./images/1.jpg")
    background-repeat no-repeat
    background-size 100% 100%
    background-position center center
  .slide2
    background url("./images/2.jpg")
    background-repeat no-repeat
    background-size 100% 100%
    background-position center center
    h6
      font-size 36px
      line-height 72px
      color #ffffff
      padding-top 310px
      padding-left 59px
    p
      font-size 48px
      line-height 48px
      color #ffffff
      padding-left 59px
  .slide3
    background url("./images/3.jpg")
    background-repeat no-repeat
    background-size 100% 100%
    background-position center center
    h6
      font-size 28px
      line-height 56px
      color #ffffff
      padding-top 299px
      padding-left 63px
    p
      font-size 56px
      line-height 56px
      color #ffffff
      padding-left 60px
    .iCountUp 
      font-size 94px
      margin 0
      color #fed760
    span 
      font-size 28px
      color #fed760
  .slide4
    background url("./images/4.jpg")
    background-repeat no-repeat
    background-size 100% 100%
    background-position center center
    h6
      padding-top 310px
      padding-left 58px
      font-size 28px
      color #fff
    .slide4-money
      padding-left 58px 
      .iCountUp 
        font-size 94px
        margin 0
        color #fed760
      span 
        font-size 28px
        color #fed760
    .slide4-content
      padding 113px 0 0 58px
			.slide4-time
				padding-left 0
				font-size 26px
				color #dceffe
				padding-bottom 47px
			div
				font-size 32px
				color #fff
				img 
					width 46px
					height 46px
					vertical-align middle
				.iCountUp 
					font-size 48px
					margin 0
					color #fed760
				span 
					font-size 22px
					color #fed760
	.slide5
		background url("./images/5.jpg")
		background-repeat no-repeat
		background-size 100% 100%
		background-position center center
		height 100%
    margin-bottom 10px
		.slide5-left
			width 199px
			display inline-block
			padding 340px 0 0 58px
			font-size 28px
			color #fff
		.slide5-right
			display inline-block
			padding-top 400px
			padding-left 70px
			span:nth-of-type(1)
				font-size 42px
		.slide5-content
			padding 113px 0 0 58px
			.slide5-time
				font-size 26px
				color #dceffe
				padding-bottom 47px
	.slide6,
		height 100%
		margin-bottom 10px
	.slide6,
	.slide8
		background url("./images/6.jpg")
		background-repeat no-repeat
		background-size 100% 100%
		background-position center center
		.slide6-left,
		.slide8-left
			width 220px
			display inline-block
			padding 340px 0 0 58px
			font-size 28px
			color #fff
		.slide6-right,
		.slide8-right
			display inline-block
			padding-top 400px
			padding-left 70px
			span:nth-of-type(1)
				font-size 42px
		.slide6-chart,
		.slide8-chart
			padding-top 130px
			.f-echarts
				width 330px
				height 330px
				margin 0 auto
			ul
				padding 0 53px
				.chart-left
					float left
					li:nth-of-type(1)
						margin-top 20px
						span 
							display inline-block
							width 18px 
							height 18px
							background #15fecf
							margin-right 20px
					li:nth-of-type(2)
						margin-top 20px
						span 
							display inline-block
							width 18px 
							height 18px
							background #edeeb2
							margin-right 20px
					li:nth-of-type(3)
						margin-top 20px
						span 
							display inline-block
							width 18px 
							height 18px
							background #e496f5
							margin-right 20px
				.chart-right
					float right
					li:nth-of-type(1)
						margin-top 20px
						span 
							display inline-block
							width 18px 
							height 18px
							background #9cfbf3
							margin-left 20px
					li:nth-of-type(2)
						margin-top 20px
						span 
							display inline-block
							width 18px 
							height 18px
							background #f4b694
							margin-left 20px
					li:nth-of-type(3)
						margin-top 20px
						span 
							display inline-block
							width 18px 
							height 18px
							background #91eb8a
							margin-left 20px
					li:nth-of-type(4)
						margin-top 20px
						float right
						span 
							display inline-block
							width 18px 
							height 18px
							background #eb7cd0
							margin-left 20px
	.slide7
		background url("../images/7.jpg")
		background-repeat no-repeat
		background-size 100% 100%
		background-position center center
		.slide7-left
			width 260px
			display inline-block
			padding 340px 0 0 58px
			font-size 28px
			color #fff
		.slide7-right
			display inline-block
			padding-top 400px
			padding-left 70px
			span:nth-of-type(1)
				font-size 42px
		.slide7-max
			width 350px
			padding-top 116px
			padding-left 58px
			font-size 32px
			color #fff
		.slide7-max-d
			padding-top: 160px
	.slide8
		.slide8-left
			width 290px
		.slide8-right
			padding-left 0px
		.slide8-content
			padding 50px 55px 0
			.content8-left,
			.content8-right
				float left
				font-size 26px
				color #feffff
				.iCountUp
					font-size 36px
				span 
					font-size 20px
			.content8-right
				float right 
		.slide8-chart
			padding-top 50px
	.slide9
		background url("../images/9.jpg")
		background-repeat no-repeat
		background-size 100% 100%
		background-position center center
		h6
			padding-top 450px
			text-align center
			font-size 36px
			line-height 44px
			color #fff
		p
			font-size 40px
			text-align center 
			line-height 66px
			color #fff
			span:nth-of-type(1)
			 	font-size 74px
			span:nth-of-type(2)
			 	font-size 30px
		.slide9-content
			padding 100px 125px 370px
			.slide9-one,
			.slide9-two,
			.slide9-three,
			.slide9-four
				width 250px
				text-align center
				font-size 26px
				line-height 36px
				float left
				.iCountUp
					font-size 48px
					color #fed760
			.slide9-two,
			.slide9-four
				float right
			.slide9-three,
			.slide9-four
				padding-top 70px
			.slide9-three
				span:nth-of-type(1)
					font-size 16px 
					color #fff
		.slide9-share
			width 540px
			height 88px
			background-color #fed760
			box-shadow 2px 5px 10px 0px rgba(29, 147, 196, 0.58)
			border-radius 44px
			font-size 32px
			line-height 88px
			text-align center
			color #756229
			margin 0 auto
	.page-arrow
    width 49px
    height 38px
    background url("./images/arrow.png")
    background-repeat no-repeat
    background-size 100% 100%
    background-position center center
    display inline-block
    position fixed
    top 95%
    left 0
    right 0
    margin 0 auto
    opacity 1
    -webkit-animation flash 1s ease infinite alternate
    animation flash 1s ease-in infinite alternate
    z-index 1  
.report-judge
	height 100%
	width 100%
	background url("../images/10.jpg")
	background-position center center
	background-repeat no-repeat
	background-size 100% 100%
	position fixed
	z-index 2
	.judge-back
		width 540px
		height 88px
		background-color #fed760
		box-shadow 2px 5px 10px 0px 	rgba(29, 147, 196, 0.58)
		border-radius 44px
		font-size 32px
		line-height 88px
		text-align center
		color #756229
		position absolute
		bottom 30%
		left 50%
		transform translateX(-50%)
.swiperTop
	padding-bottom 0px !important 