//合同协议
.treaty
  padding 0  28px 220px
  font-size 24px
  text-align left 
  background-color #fff
  h1 
    text-align center
    line-height 80px
    font-size 34px
    font-weight bold
  h2 
    line-height 70px
    font-size 30px
    font-weight bold
  h3
    padding-bottom 20px
    line-height 50px
    font-size 30px
    font-weight bold
  h4 
    line-height 50px
    font-size 28px
  .phead
    font-size 28px
  .title 
    font-weight bold
  p 
    padding-bottom 14px
    &.textIndent
      text-indent 55px